.app {
  text-align: center;
  color: white;
  padding-top: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle {
  background: #00c6ff;
  color: white;
}

.weather-card {
  margin: 30px auto;
  width: 300px;
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.2);
}

.emoji {
  font-size: 60px;
}

.error {
  color: red;
}

.recent button {
  margin: 5px;
}