body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;

  background: linear-gradient(
    -45deg,
    #1e3c72,
    #2a5298,
    #00c6ff,
    #0072ff
  );

  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}